<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <h3 class="end">
                    <span [ngClass]="favorite_icon ? 'bookmark_icon active' : 'bookmark_icon'" (click)="toggleSaveIcon1()">
                        <ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
                        <ion-icon class="zmdi zmdi-bookmark"></ion-icon>
                    </span>
                </h3>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="banner">
        <ion-slides pager="true" loop="true">
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/img_hospital.png">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/img_hospital.png">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/img_hospital.png">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/img_hospital.png">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/img_hospital.png">
                </div>
            </ion-slide>
        </ion-slides>
        <div class="banner_details">
            <h2 class="animate__animated animate__fadeInUp">{{pharmacy.name}}</h2>
            <h3 class="animate__animated animate__fadeInUp">General Pharmacy</h3>

            <h3 class="animate__animated animate__fadeInUp">Supervisor: {{pharmacy.supervisor_name}}</h3>
        </div>

       
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="tab_content">
      
                <ion-list class="about-list" lines="none">
                    <!-- <ion-card class="departments animate__animated animate__fadeInUp">
                        <h2 class="animate__animated animate__fadeInUp">Services</h2>
                        <div class="text_box animate__animated animate__fadeInUp">
                            <h3>Minor OT/ Dressing Romm</h3>
                        </div>
                        <div class="text_box animate__animated animate__fadeInUp">
                            <h3>Emergency Ward</h3>
                        </div>
                        <div class="text_box animate__animated animate__fadeInUp">
                            <h3>Radiology/X-ray facility </h3>
                        </div>
                        <div class="text_box animate__animated animate__fadeInUp">
                            <h3>Ladoratory Services</h3>
                        </div>
                        <div class="text_box animate__animated animate__fadeInUp">
                            <h3>Ambulance Services</h3>
                        </div>
                        <h5>+ 5 {{'more' | translate}}</h5>
                    </ion-card> -->

                    <ion-card class="address_box animate__animated animate__fadeInUp">
                        <div class="address d-flex">
                            <div class="">
                                <h2 class="animate__animated animate__fadeInUp">Address</h2>
                                <h3 class="d-flex animate__animated animate__fadeInUp">
                                    <ion-icon class="zmdi zmdi-pin"></ion-icon>
                                    {{pharmacy.district}}, {{pharmacy.country}}.
                                </h3>
                            </div>
                            <h5 class="end">
                                <ion-icon class="zmdi zmdi-navigation ion-text-end"></ion-icon>
                            </h5>
                        </div>

                        <!-- <div class="map_box">
                            <img src="assets/images/map.png">
                            <ion-icon style="top:34%; left: 46%;" class="animate__animated animate__zoomIn"></ion-icon>
                        </div> -->
                    </ion-card>
                </ion-list>
              
        
           


    </div>
</ion-content>





<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
   
    <ion-button size="large" (click)="request_pharmacy(pharmacy)" shape="full" class="btn" >
        Send Prescriptions Note
    </ion-button>
</ion-footer>