<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'my_orders' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <h2>{{'in_process' | translate}}</h2>
       
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <h6>No orders in process</h6>
            </ion-item>
        </ion-item>

        <h2>{{'past' | translate}}</h2>

      
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <h6>No past orders</h6>
            </ion-item>
        </ion-item>
    </ion-list>
</ion-content>
