<!--
<ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content (click)="dismiss()">

</ion-content>
<ion-footer no-border>
    <div class="form">
        <ion-icon class="zmdi zmdi-close ion-text-end" (click)="dismiss()"></ion-icon>

        <ion-list lines="none">
            <h1>{{'select_address_type' | translate}}</h1>
            <ion-radio-group class="animate__animated animate__fadeInUp">
                <ion-row>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-radio slot="start" value="home"></ion-radio>
                            <ion-label class="d-flex">
                                <div class="img_container">
                                    <div class="img_box">
                                        <ion-icon class="zmdi zmdi-home"></ion-icon>
                                    </div>
                                    <h2>{{'home' | translate}}</h2>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-radio slot="start" value="office"></ion-radio>
                            <ion-label class="d-flex">
                                <div class="img_container">
                                    <div class="img_box">
                                        <ion-icon class="zmdi zmdi-city-alt"></ion-icon>
                                    </div>
                                    <h2>{{'office' | translate}}</h2>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-radio slot="start" value="other"></ion-radio>
                            <ion-label class="d-flex">
                                <div class="img_container">
                                    <div class="img_box">
                                        <ion-icon class="zmdi zmdi-pin-assistant"></ion-icon>
                                    </div>
                                    <h2>{{'other' | translate}}</h2>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-radio-group>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">{{'enter_address_detail' | translate}}</ion-label>
                <ion-input type="text" value="14134, silver Green Street, 2nd Avenue"></ion-input>
            </ion-item>
        </ion-list>
    </div>
    <ion-button size="large" shape="full" class="btn animate__animated animate__fadeInUp" (click)="dismiss()">{{'save' | translate}}</ion-button>
</ion-footer>