.container {
    padding: 20px 26px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: fit-content;
    .img_box {
        margin: 0 auto;
        width: 275px;
        margin-bottom: 95px;
        --animate-duration: .3s !important;
    }
    h1 {
        margin: 0;
        color: var(--secondary);
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 0;
        margin-bottom: 21px;
    }
    p {
        margin: 0;
        color: var(--text-light);
        font-weight: 500;
        font-size: 1rem;
    }
}

ion-footer {
    --animate-duration: .4s !important;
    h2 {
        margin: 0;
        color: var(--primary);
        font-size: 1.1rem;
        padding: 19px 0;
    }
}