<ion-header>
    <ion-toolbar>
         <ion-title> Request sent</ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container ion-text-center">
        <div class="img_box animate__animated animate__zoomIn">
            <img src="assets/images/img_appointmentbooked.png">
        </div>
        <h1 class="animate__animated animate__fadeInUp" [innerHTML]="'Check more details <br> for students in the<br> MORE Tab.'"></h1>
        <p class="animate__animated animate__fadeInUp" [innerHTML]="'Request Sent'"></p>
    </div>
</ion-content>
<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="full" class="btn" (click)="navMyAppointments()">
        Go to Homepage
    </ion-button>
</ion-footer>