<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button class="animate__animated animate__fadeInUp" tab="home">
            <div class="img_box">
                <img src="assets/images/ic_medicine.png" class="before">
                <img src="assets/images/ic_medicineact.png" class="after">
            </div>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp" tab="doctors">
            <div class="img_box">
                <img src="assets/images/ic_doctors.png" class="before">
                <img src="assets/images/ic_doctorsact.png" class="after">
            </div>
            <!-- <ion-label>{{'consultation' | translate}}</ion-label> -->
            <ion-label>Doctors</ion-label>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp" tab="hospitals">
            <div class="img_box">
                <img src="assets/images/ic_hospitals.png" class="before">
                <img src="assets/images/ic_hospitalsact.png" class="after">
            </div>
            <ion-label>Pharmacies</ion-label>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp" tab="lab_test">
            <div class="img_box">
                <img src="assets/images/ic_lab.png" class="before">
                <img src="assets/images/ic_labact.png" class="after">
            </div>
            <ion-label>Labs</ion-label>
        </ion-tab-button>

        
        <ion-tab-button class="animate__animated animate__fadeInUp" tab="more">
            <div class="img_box">
                <img src="assets/images/ic_more.png" class="before">
                <img src="assets/images/ic_moreact.png" class="after">
            </div>
            <ion-label>More</ion-label>
        </ion-tab-button> 
    </ion-tab-bar>

</ion-tabs>