<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <span>{{'order_num' | translate}} 221451</span>
                <!-- <ion-icon class="zmdi zmdi-more-vert end ion-text-end"></ion-icon> -->
            </div>
        </ion-title>
    </ion-toolbar>
    <div class="item_about d-flex in_transist">
        <div class="img_box center_img">
            <img src="assets/images/1.png" class="crop_img">
        </div>
        <div class="text_box">
            <h3 class="d-flex">Well Life Store <span class="end order_status">{{'in_transist' | translate}}</span></h3>
            <h4 class="d-flex">13 June, 11:40 am <span class="end">$18.00 | COD</span></h4>
        </div>
    </div>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <div class="animate__animated animate__fadeInUp order_status">
            <ion-item class="animate__animated animate__fadeInUp done">
                <div class="item_inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                        <ion-icon class="zmdi zmdi-circle-o"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'order_confirmed' | translate}}</h2>
                        <h3>3:40 pm | 20 June 2020</h3>
                    </div>
                </div>
                <div class="circle_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp active">
                <div class="item_inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                        <ion-icon class="zmdi zmdi-circle-o"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">{{'order_picked' | translate}}
                            <span class="end" (click)="TrackOrder()">
                                <ion-icon class="zmdi zmdi-navigation"></ion-icon>
                                {{'track' | translate}}
                            </span>
                        </h2>
                        <h3>4:32 pm | 20 June 2020</h3>
                    </div>
                </div>
                <div class="circle_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                        <ion-icon class="zmdi zmdi-circle-o"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h2>{{'order_delivered' | translate}}</h2>
                        <h3>{{'yet_to_delivered' | translate}}</h3>
                    </div>
                </div>
            </ion-item>
        </div>


        <div class="animate__animated animate__fadeInUp item_list">
            <h2>{{'ordered_items' | translate}}</h2>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">Salospir 100mg Tablet</h3>
                    <h4 class="d-flex">2 Pack <span class="end">$6.00</span></h4>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">Non Drosy Laritin Tablet
                        <img src="assets/images/px.png">
                    </h3>
                    <h4 class="d-flex">1 Pack <span class="end">$8.00</span></h4>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">Xenical 120mg Tablet
                        <img src="assets/images/px.png">
                    </h3>
                    <h4 class="d-flex">1 Pack <span class="end">$4.00</span></h4>
                </div>
            </ion-item>
        </div>

        <ion-item class="animate__animated animate__fadeInUp upload_prescription" (click)="prescription()">
            <div class="item_inner d-flex">
                <div class="item_img">
                    <img src="assets/images/px.png">
                </div>
                <h2 class="d-flex">
                    {{'prescription_uploaded' | translate}}
                    <span class="icon_box end"> 
                        <ion-icon class="zmdi zmdi-eye ion-text-end"></ion-icon>
                    </span>
                </h2>
            </div>
        </ion-item>

        <div class="animate__animated animate__fadeInUp payment_details">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex"> {{'sub_total' | translate}} <span class="end">$18.00</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex"> {{'promo_code_applied' | translate}} <span class="end">-$2.00</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex"> {{'service_charge' | translate}} <span class="end"> $4.00</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp amount_payable">
                <div class="item_inner">
                    <h3 class="d-flex"> {{'amount_via' | translate}} COD <span class="end"> $20.00</span></h3>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>