<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                Available Doctors
                <span class="end">
                  <ion-icon class="zmdi zmdi-sort-amount-desc ion-text-start" (click)="filter()"></ion-icon>
                  <ion-icon class="zmdi zmdi-map ion-text-end" ></ion-icon>
              </span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>




<ion-content class="bg_color">
    <ion-list lines="none">
      

       



    </ion-list>
</ion-content>