.doctor_info {
    padding: 18px;
    align-items: flex-start;
    padding-bottom: 10px;
    .img_box {
        width: 100%;
        max-width: 150px;
        height: 182px;
        border-radius: 11px;
        margin-right: 18px;
    }
    .text_box {
        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.53rem;
            font-weight: 600;
            line-height: 31px;
            padding-bottom: 10px;
        }
        h3 {
            margin: 0;
            color: var(--text-light2);
            font-size: 0.94rem;
            font-weight: 400;
            padding-bottom: 7px;
        }
    }
}

.form {
    width: 100%;
    ion-list {
        padding-top: 10px;
        ion-card {
            margin: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            padding: 17px 0 3px 0;
            h2 {
                margin: 0;
                color: var(--text-light2);
                font-size: 0.94rem;
                font-weight: 400;
                letter-spacing: 0;
                padding: 0 18px 15px 18px;
                span {
                    color: var(--text-black);
                    font-weight: 500;
                }
            }
            .date_container {
                width: 100%;
                overflow: hidden;
                overflow-x: scroll;
                white-space: nowrap;
                &::-webkit-scrollbar {
                    display: none;
                }
                .date {
                    display: inline-block;
                    min-width: 52px;
                    min-height: 52px;
                    margin: 0 3.5px;
                    position: relative;
                    overflow: hidden;
                    background: var(--bg-color);
                    border-radius: 3px;
                    padding: 5px;
                    h2 {
                        margin: 0;
                        font-size: 1.35rem;
                        padding: 0;
                        position: relative;
                        z-index: 9;
                        color: var(--text-black);
                        font-weight: 500;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-light2);
                        font-weight: 400;
                        font-size: 0.65rem;
                        position: relative;
                        z-index: 9;
                        text-transform: uppercase;
                        letter-spacing: 0.3px;
                        padding-bottom: 2px;
                    }
                    &:first-child {
                        margin-left: 21px;
                    }
                    &:last-child {
                        margin-right: 21px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 0;
                        height: 0;
                        border-radius: 3px;
                        background: var(--primary);
                        transition: all 0.3s;
                    }
                    &.active {
                        &::before {
                            width: 100%;
                            height: 100%;
                        }
                        h3 {
                            color: var(--white);
                        }
                        h2 {
                            color: var(--white);
                        }
                    }
                }
            }
            ion-radio-group {
                width: 100%;
                overflow: hidden;
                overflow-x: scroll;
                white-space: nowrap;
                display: block;
                &::-webkit-scrollbar {
                    display: none;
                }
                ion-item {
                    --min-height: 45px;
                    display: inline-block;
                    background: var(--bg-color);
                    border-radius: 3px;
                    position: relative;
                    margin: 0 3.5px;
                    width: fit-content;
                    min-width: 111px;
                    ion-radio {
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        --color: var(--transparent) !important;
                        --color-checked: var(--transparent) !important;
                    }
                    ion-label {
                        width: 100% !important;
                        max-width: 100% !important;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        color: var(--text-black) !important;
                        font-weight: 500;
                        font-size: 1.15rem !important;
                        height: 100%;
                        line-height: 45px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 0;
                        height: 0;
                        transition: all 0.2s;
                        background: var(--primary);
                        border-radius: 3px;
                    }
                    &:first-child {
                        margin-left: 21px;
                    }
                    &:last-child {
                        margin-right: 21px;
                    }
                    &.item-radio-checked {
                        border-color: var(--primary) !important;
                        &::before {
                            width: 100%;
                            height: 100%;
                        }
                        ion-label {
                            color: var(--white) !important;
                        }
                    }
                }
            }
            ion-item {
                &.item-has-placeholder {
                    margin-bottom: 12px;
                    background: var(--bg-color) !important;
                    width: calc(100% - 39px);
                    border-radius: 5px;
                    ion-input {
                        --placeholder-opacity: 0.6;
                        font-size: 1rem !important;
                    }
                    &.attach_document {
                        position: relative;
                        background: none !important;
                        overflow: hidden;
                        padding: 0;
                        .item_inner {
                            min-height: 52px;
                            ion-icon {
                                &.zmdi-attachment-alt {
                                    color: var(--secondary);
                                    font-size: 1.25rem;
                                    min-width: 35px;
                                    text-align: center !important;
                                }
                            }
                            h3 {
                                margin: 0;
                                color: var(--secondary);
                                font-size: 1rem;
                                line-height: normal;
                            }
                            .close_btn {
                                min-height: 52px;
                                min-width: 52px;
                                position: relative;
                                overflow: hidden;
                                ion-icon {
                                    color: var(--white);
                                    font-size: 1.5rem;
                                    line-height: 52px;
                                    height: 52px;
                                    margin: 0 auto;
                                    display: block;
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: var(--secondary);
                                    opacity: 0.2;
                                }
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: var(--secondary);
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    --animate-duration: 0.4s !important;
}

#bottom{
    position: absolute;
  bottom: 0;
 
}