<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            City Cure Labs
        </ion-title>
    </ion-toolbar>
    <div class="search_box d-flex">
        <ion-icon class="zmdi zmdi-search ion-text-start end"></ion-icon>
        <ion-searchbar class="ion-no-padding" searchIcon="hide" debounce="1000" placeholder="{{'search_test' | translate}}"></ion-searchbar>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h1>{{'total' | translate}} 125 {{'tests' | translate}}</h1>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Completed Blood Count</h2>
                    <h3 class="d-flex">
                        $20.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox checked="true"></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                          <small>{{'add' | translate}}</small>
                          <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                        </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                        <small>{{'add' | translate}}</small>
                        <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                      </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                        <small>{{'add' | translate}}</small>
                        <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                      </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                        <small>{{'add' | translate}}</small>
                        <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                      </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                        <small>{{'add' | translate}}</small>
                        <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                      </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                        <small>{{'add' | translate}}</small>
                        <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                      </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                      <small>{{'add' | translate}}</small>
                      <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                    </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                      <small>{{'add' | translate}}</small>
                      <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                    </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                      <small>{{'add' | translate}}</small>
                      <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                    </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                      <small>{{'add' | translate}}</small>
                      <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                    </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                      <small>{{'add' | translate}}</small>
                      <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                    </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                    <small>{{'add' | translate}}</small>
                    <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                  </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                    <small>{{'add' | translate}}</small>
                    <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                  </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                    <small>{{'add' | translate}}</small>
                    <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                  </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                    <small>{{'add' | translate}}</small>
                    <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                  </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                    <small>{{'add' | translate}}</small>
                    <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                  </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                  <small>{{'add' | translate}}</small>
                  <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                  <small>{{'add' | translate}}</small>
                  <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                  <small>{{'add' | translate}}</small>
                  <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                  <small>{{'add' | translate}}</small>
                  <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                  <small>{{'add' | translate}}</small>
                  <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
                </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Prothrombin Time</h2>
                    <h3 class="d-flex">
                        $18.00
                        <span class="end">
                <small>{{'add' | translate}}</small>
                <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
              </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Basic Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $14.00
                        <span class="end">
                <small>{{'add' | translate}}</small>
                <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
              </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Comprehensive Metabolic Panel</h2>
                    <h3 class="d-flex">
                        $09.00
                        <span class="end">
                <small>{{'add' | translate}}</small>
                <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
              </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Lipid Panel</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                <small>{{'add' | translate}}</small>
                <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
              </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="text_box">
                    <h2>Thyroid Stimulating Hormone</h2>
                    <h3 class="d-flex">
                        $12.00
                        <span class="end">
                <small>{{'add' | translate}}</small>
                <small><ion-icon class="zmdi zmdi-check"></ion-icon>{{'added' | translate}}</small>
              </span>
                    </h3>
                    <ion-checkbox></ion-checkbox>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp" (click)="ConfirmTestBooking()">
    <h2 class="d-flex">$ 20.00
        <span class="end"> 
      <ion-icon class="zmdi zmdi-assignment-check ion-text-start"></ion-icon></span> {{'book_now' | translate}}
    </h2>
</ion-footer>