<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'pill_reminders' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Multi Vitamins</h2>
					<h3>Mon, Tue, Thu, Sat</h3>
					<h4>08:00 am, 10:00 am, 11:30 am</h4>
				</div>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Diabetes Pills</h2>
					<h3>Mon, Tue, Wed, Thu, Fri, Sat, Sun</h3>
					<h4>08:00 am, 12:00 am, 3:30 pm, 6:00 pm</h4>
				</div>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Multi Vitamins</h2>
					<h3>Mon, Tue, Thu, Sat</h3>
					<h4>08:00 am, 10:00 am, 11:30 am</h4>
				</div>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Diabetes Pills</h2>
					<h3>Mon, Tue, Wed, Thu, Fri, Sat, Sun</h3>
					<h4>08:00 am, 12:00 am, 3:30 pm, 6:00 pm</h4>
				</div>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Multi Vitamins</h2>
					<h3>Mon, Tue, Thu, Sat</h3>
					<h4>08:00 am, 10:00 am, 11:30 am</h4>
				</div>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="pill_reminder()">
			<div class="item_inner d-flex">
				<div class="icon_box">
					<ion-icon class="zmdi zmdi-notifications-active ion-text-center"></ion-icon>
				</div>
				<div class="text_box">
					<h2>Diabetes Pills</h2>
					<h3>Mon, Tue, Wed, Thu, Fri, Sat, Sun</h3>
					<h4>08:00 am, 12:00 am, 3:30 pm, 6:00 pm</h4>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<ion-fab class="animate__animated animate__zoomIn" vertical="bottom" horizontal="end" slot="fixed" (click)="pill_reminder()">
		<ion-fab-button mode="md">
			<ion-icon class="zmdi zmdi-plus"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>