<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'reviews' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <h2 class="d-flex animate__animated animate__fadeInUp">
            Dr. Joseph Williamson
            <span class="end">
                <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                4.5
            </span>
        </h2>
        <h3 class="d-flex animate__animated animate__fadeInUp">{{'average_reviews' | translate}} <span class="end">{{'avg_review' | translate}}</span></h3>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Reena Roy</span>
                            <span class="end">
                                4.2
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>HeadAche</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_3.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Harry Johnson</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>



        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_2.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Sam Smith</span>
                            <span class="end">
                                5.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img src="assets/images/user_5.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">Ronny George</span>
                            <span class="end">
                                3.0
                                &nbsp;
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star active"> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                                <ion-icon class="zmdi zmdi-star "> </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            {{'visited_for' | translate}}&nbsp;<strong>Cold Fever</strong>
                            <span class="end">20 Dec, 2017</span>
                        </h3>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>