ion-header ion-toolbar ion-title {
    .title_inner {
        position: relative;
        min-height: 60px;
    }
    span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }
    ion-icon {
        color: var(--primary);
        font-size: 1.4rem;
        padding: 0 1px;
        min-width: 20px;
    }
}

.doctor_info {
    padding: 18px;
    align-items: flex-start;
    padding-bottom: 36px;
    .img_box {
        width: 100%;
        max-width: 150px;
        height: 175px;
        border-radius: 11px;
        margin-right: 18px;
    }
    .text_box {
        padding-top: 20px;
        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.53rem;
            font-weight: 600;
            line-height: 31px;
            padding-bottom: 10px;
        }
        h3 {
            margin: 0;
            color: var(--text-light2);
            font-size: 0.94rem;
            font-weight: 400;
            padding-bottom: 7px;
        }
    }
}

.form {
    width: 100%;
    ion-list {
        ion-item {
            background: none;
            border-radius: 0;
            padding: 0 20px;
            margin-bottom: 33px;
            .item_inner {
                width: 100%;
                h2 {
                    margin: 0;
                    color: var(--text-light2);
                    font-size: 0.94rem;
                    font-weight: 400;
                    letter-spacing: 0;
                    padding-bottom: 8px;
                    span {
                        color: var(--secondary);
                        font-weight: 500;
                    }
                }
                h3 {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: 1.1rem;
                    font-weight: 500;
                    padding-bottom: 5px;
                    strong {
                        min-width: fit-content;
                        display: flex;
                        align-items: center;
                        color: var(--secondary);
                        font-weight: 500;
                        font-size: 1rem;
                        ion-icon {
                            min-width: 20px;
                        }
                    }
                }
                h4 {
                    margin: 0;
                    color: var(--text-light2);
                    font-weight: 400;
                    font-size: 0.93rem;
                    padding-top: 6px;
                    align-items: flex-start;
                }
            }
        }
    }
}

ion-footer {
    background: var(--bg-color);
    --animate-duration: 0.4s !important;
    ion-row {
        ion-col {
            padding: 0;
            .button.btn {
                ion-icon {
                    position: relative;
                    left: -18px;
                    font-size: 1.3rem;
                }
                &.button-clear {
                    --background: none;
                    color: var(--secondary);
                    font-weight: 500;
                }
            }
        }
    }
}