<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'my_lab_tests' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <h1>{{'upcomming' | translate}}</h1>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
            <h6>There are currently no upcoming tests</h6>
        </ion-item>
        </ion-item>

        <h1>{{'past' | translate}}</h1>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <h6>No lab history</h6>
            </ion-item>
        </ion-item>
    </ion-list>

</ion-content>