<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="more()" text="" icon="chevron-back-outline"></ion-back-button>

            
        </ion-buttons>

        <ion-title>Student Consultations</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2>Upcoming appointments</h2>

        <ion-item *ngIf="!consultations.length" class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
            <h6>There are currently no upcoming appointments</h6>
        </ion-item>
        </ion-item>

        <ion-item *ngFor="let consultation of consultations" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img" (click)="appointment_detail(consultation)">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                      
                        <span (click)="appointment_detail(consultation)">{{consultation.student.name}}</span>
                        <ion-icon class="zmdi zmdi-more-vert ion-text-end end"></ion-icon>
                    </h2>
                    <h3 (click)="appointment_detail(consultation)"> consultation with Dr. {{consultation.doctor.name}}
                    </h3>
                    <h4 class="d-flex">
                        Suggested Time | {{consultation.consultation_time}}

                        <!-- <span class="end">
                            <ion-icon class="zmdi zmdi-phone ion-text-start"></ion-icon>
                            <ion-icon class="zmdi zmdi-comment-alt-text ion-text-end" (click)="chat()">
                            </ion-icon>
                        </span> -->
                    </h4>
                </div>
            </div>


            <div class="options">
                <h3 class="ion-text-end">{{'cancel' | translate}}</h3>
                <h3 class="ion-text-end">{{'reschedule' | translate}}</h3>
                <!-- <h3 class="ion-text-end">{{'add_feedback' | translate}}</h3>
                <h3 class="ion-text-end">{{'rebook' | translate}}</h3> -->
            </div>

        </ion-item>

      

        <h2>Past appointments</h2>


        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <h6>No appointment history</h6>
            </ion-item>
        </ion-item>


    
    </ion-list>
</ion-content>