ion-header {
    background-color: #5B5FE6;
    padding-top: 28px;
    .profile {
        padding: 0 20px;
        .img_box {
            min-width: 52px;
            height: 52px;
            border-radius: 12px;
            margin-right: 15px;
        }
        .text_box {
            width: 100%;
            h1 {
                margin: 0;
                color: var(--white);
                font-size: 1.3rem;
                padding-bottom: 7px;
                ion-icon {
                    font-size: 1.6rem;
                    min-width: fit-content;
                    padding: 0 1px;
                }
            }
            h2 {
                margin: 0;
                color: var(--white);
                font-size: 0.93rem;
                letter-spacing: 0.3px;
                font-weight: 500;
                opacity: 0.6 !important;
            }
        }
    }
    .today-task {
        padding-left: 20px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        img {
            max-width: 235px;
            min-width: 235px;
            position: relative;
            right: -16px;
            top: 4px;
        }
        ion-row {
            align-items: flex-end;
            min-width: fit-content;
            ion-col {
                padding: 0;
                min-width: fit-content;
                position: relative;
                top: -10px;
                .text {
                    padding-bottom: 30px;
                    h3 {
                        margin: 0;
                        color: var(--white);
                        font-size: 1.3rem;
                        padding-bottom: 7px;
                    }
                    h4 {
                        margin: 0;
                        color: var(--white);
                        font-size: 0.95rem;
                        opacity: 0.6;
                        letter-spacing: 0.3px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.shop_by_category {
    padding-bottom: 15px;
    background: var(--white);
    h2 {
        margin: 0;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-bottom: 4px;
        padding: 15px;
        span {
            color: var(--primary);
            font-weight: 500;
            font-size: 0.9rem;
            min-width: fit-content;
            letter-spacing: 0;
        }
        &.map_view {
            padding-bottom: 0;
            ion-icon {
                color: var(--secondary);
                font-size: 1.5rem;
            }
        }
    }
    .scroll-x {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        .category {
            display: inline-block;
            margin: 0 3.5px;
            .category_img {
                width: 100px;
                height: 127px;
                border-radius: 11px;
            }
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 15px;
            }
        }
    }
}

ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    ion-item {
        padding: 12px 0;
        background: var(--white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        margin-bottom: 8px;
        .item_inner {
            width: 100%;
            overflow: hidden;
            .item_header {
                padding-left: 16px;
                ion-row {
                    ion-col {
                        padding: 0;
                        h2 {
                            margin: 0;
                            font-size: 0.95rem;
                            font-weight: 600;
                            padding-bottom: 4px;
                            color: var(--text-dark);
                        }
                        h3 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: 0.8rem;
                            overflow: hidden;
                        }
                        .hospital_images {
                            width: 100%;
                            overflow-x: scroll;
                            white-space: nowrap;
                            height: auto;
                            &::-webkit-scrollbar {
                                display: none;
                            }
                            .img_box {
                                width: 71px;
                                height: 44px;
                                margin: 0px 2px;
                                display: inline-block;
                                border-radius: 5px;
                                &:first-child {
                                    margin-left: 0px;
                                }
                                &:last-child {
                                    margin-right: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .item_footer {
                padding: 10px 16px 0px 16px;
                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.7rem;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                    span {
                        &.address {
                            max-width: calc(100% - 100px);
                            display: flex;
                            align-items: flex-start;
                            ion-icon {
                                min-width: 11px;
                                padding: 0 1px;
                            }
                            small {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: 0.7rem;
                                font-weight: 400;
                            }
                        }
                        &.end {
                            color: var(--secondary);
                            display: flex;
                            align-items: center;
                            font-size: 0.7rem;
                            font-weight: 400;
                            ion-icon {
                                min-width: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}



#ace {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    ion-item {
        padding: 15px;
        background: var(--white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        margin-bottom: 7px;
        .item_inner {
            width: 100%;
            .icon_box {
                min-width: 53px;
                height: 53px;
                position: relative;
                border-radius: 53%;
                margin-right: 20px;
                background: var(--bg-color);
                ion-icon {
                    color: var(--secondary);
                    width: 53px;
                    height: 53px;
                    line-height: 53px;
                    font-size: 1.35rem;
                }
            }
            .text_box {
                width: 100%;
                overflow: hidden;
                h2 {
                    color: var(--text-dark);
                    margin: 0;
                    font-size: 0.95rem;
                    font-weight: 500;
                    padding-bottom: 5px;
                    ion-icon {
                        color: var(--red_color);
                        font-size: 1.3rem;
                        min-width: 25px;
                    }
                }
                h3 {
                    margin: 0;
                    color: var(--text-light2);
                    font-weight: 400;
                    font-size: 0.7rem;
                    padding-bottom: 3px;
                }
                h4 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.8rem;
                    font-weight: 500;
                }
            }
        }
        &.upload_prescription {
            --min-height: unset !important;
            padding: 16px 20px;
            .item_inner {
                .item_img {
                    min-width: 18px;
                }
                h2 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    .icon_box {
                        min-width: 57px;
                        ion-icon {
                            color: var(--primary);
                            font-size: 1.35rem;
                            min-width: 28px;
                        }
                    }
                }
            }
        }
    }
}

ion-fab {
    right: 20px;
    bottom: 20px;
    --animate-duration: 0.35s !important;
    ion-fab-button {
        --background: var(--primary);
        width: 55px;
        height: 55px;
        --box-shadow: none;
        ion-icon {
            font-size: 1.5rem;
            font-size: 2rem;
        }
    }
}


#ion-list2 {
    padding: 12px 15px 0 15px;
    background: none;
    margin: 0;
    h2 {
        margin: 0;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding: 0;
        padding-bottom: 6px;
    }
    ion-item {
        padding: 7px 0;
        background: var(--white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --min-height: unset;
        h3 {
            margin: 0;
            color: var(--text-dark);
            font-size: 0.95rem;
        }
        h4 {
            margin: 0;
            color: var(--text-light2);
            font-weight: 400;
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            ion-icon {
                color: var(--text-light2);
                font-size: 1.55rem;
                min-width: 22px;
            }
        }
    }
}