<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <h3 [ngClass]="favorite_icon ? 'end active' : 'end'" (click)="toggleSaveIcon1()">
                    <ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
                    <ion-icon class="zmdi zmdi-bookmark"></ion-icon>
                </h3>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner d-flex animate__animated animate__fadeInUp">
        <div class="doctor_details">
            <div class="img_box center_img animate__animated animate__fadeInUp">
                <img src="assets/images/doc1.png" class="crop_img">
            </div>


        
        
            <h2 class="animate__animated animate__fadeInUp">Dr. {{doctor.name}}</h2>
            <h3 class="animate__animated animate__fadeInUp">{{doctor.specialization}} <span>at</span> {{doctor.affiliation}} </h3>
        </div>
        <div class="" style="display: block; min-width:20px; height: 100%;"></div>
        <div class="other_details">
            <!-- <div class="text_box animate__animated animate__fadeInUp">
                <h3> Experience</h3>
                <h4> 18 years</h4>
            </div> -->

            <div class="text_box animate__animated animate__fadeInUp">
                <h3> Status</h3>
                <h4> Verified</h4>
            </div>

            <!-- <div class="text_box feedback animate__animated animate__fadeInUp" (click)="doctor_reviews()">
                <h3> {{'feedback' | translate}}</h3>
                <h4 class="d-flex">
                    <span>
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        $.5
                    </span>&nbsp; (124)
                    <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                </h4>
            </div> -->

            <div class="text_box availability animate__animated animate__fadeInUp">
                <h3>Availability</h3>
                <h4 class="d-flex">Online
                    <!-- <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon> -->
                </h4>
            </div>
        </div>
    </div>

    <div class="tab_content">
        <!--About section start> -->
        <ion-list lines="none">
            


            <ion-card class="address_box animate__animated animate__fadeInUp">
                <div class="address">
                    <h2>Services at</h2>
                    <div class="text_box animate__animated animate__fadeInUp">
                        <h3 class="d-flex">{{doctor.affiliation}} 
                            <!-- <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon> -->
                        </h3>
                        <h4 class="d-flex">{{doctor.country}} , {{doctor.district}} 
                        </h4>
                    </div>

                    <!-- <div class="text_box animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Seven Star Clinic
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                        </h3>
                        <h4 class="d-flex"> Hemiltone Bridge City Point, Hemilton, New York

                        </h4>
                    </div>

                    <h5>+ 1 {{'more' | translate}}</h5> -->
                </div>
            </ion-card>

            <!-- <ion-card class="services">
                <h2>{{'services' | translate}}</h2>

                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> Hypertension Treatment </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> COPD Treatment </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> Diabetes Management</h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> ECG </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> Obesity Treatment </h3>
                </div>
                <h5>+ 1 {{'more' | translate}}</h5>
            </ion-card>

            <ion-card class="services">
                <h2>{{'specialization' | translate}}</h2>

                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> General Physiciant </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3>Family Physiciant </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3>Cardiologist </h3>
                </div>
                <div class="text_box animate__animated animate__fadeInUp">
                    <h3> Diabetologist </h3>
                </div>
                <h5>+ 1 {{'more' | translate}}</h5>

            </ion-card> -->
        </ion-list>
        <!--About section end> -->
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="full" class="btn" (click)="book_appointment_now(doctor)">
        <ion-icon slot="start" class="zmdi zmdi-calendar-alt"></ion-icon>
        Book Appointment
    </ion-button>
</ion-footer>