<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title> </ion-title>
    </ion-toolbar>
    <div class="banner d-flex">
        <div class="img_box center_img">
            <img src="assets/images/1.png" class="crop_img">
        </div>
        <div class="text_box">
            <h2>Nsambya <br> Hospital</h2>
            <h4 class="d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-center"></ion-icon>
                Nsambya Road, Kampala
            </h4>
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="item_row">
        <div class="item_row">
            <ion-row>
                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <div class="prescription_required">
                                <img src="assets/images/px.png">
                            </div>
                            <div class="img_box">
                                <img src="assets/images/med1.png">
                            </div>
                            <h2>Salospir 100mg <br> Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med2.png">
                            </div>
                            <h2>Xanical 120mg <br> Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med3.png">
                            </div>
                            <h2>Allergy Relief <br> Topcare Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$4.00</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <div class="prescription_required">
                                <img src="assets/images/px.png">
                            </div>
                            <div class="img_box">
                                <img src="assets/images/med4.png">
                            </div>
                            <h2>Arber OTC <br> Topcare Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med5.png">
                            </div>
                            <h2>Non Drosy <br> Laritin Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med6.png">
                            </div>
                            <h2>CoricidinHBP 100mg <br>Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <div class="prescription_required">
                                <img src="assets/images/px.png">
                            </div>
                            <div class="img_box">
                                <img src="assets/images/med1.png">
                            </div>
                            <h2>Salospir 100mg <br> Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med2.png">
                            </div>
                            <h2>Xanical 120mg <br> Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med3.png">
                            </div>
                            <h2>Allergy Relief <br> Topcare Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$4.00</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <div class="prescription_required">
                                <img src="assets/images/px.png">
                            </div>
                            <div class="img_box">
                                <img src="assets/images/med4.png">
                            </div>
                            <h2>Arber OTC <br> Topcare Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med5.png">
                            </div>
                            <h2>Non Drosy <br> Laritin Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>

                <ion-col class="animate__animated animate__zoomIn" size="6">
                    <div class="item ion-text-center">
                        <div class="item_content" (click)="item_info()">
                            <!--
                         <div class="prescription_required">
                             <img src="assets/images/px.png">
                         </div>
-->
                            <div class="img_box">
                                <img src="assets/images/med6.png">
                            </div>
                            <h2>CoricidinHBP 100mg <br>Tablet</h2>
                        </div>
                        <div class="item_footer d-flex">
                            <h3 class="ion-text-center">$3.50</h3>
                            <h4 class="ion-text-center end">
                                <span> +</span>
                            </h4>
                        </div>
                    </div>
                </ion-col>
      
            </ion-row>
        </div>
    </div>
</ion-content>