<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'terms_conditions' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <p class="animate__animated animate__fadeInUp">
            Welcome to Eli a product of Chil femtech center inc .
            Eli provides online school health-related services by arranging for smartphone
            (video-telephone) medical consultations and secure web-based consultations
            with a licensed physician, arranging for electronic medical record storage by the
            physician, providing certain on-line health-related information, arranging for a
            prescription and medicine delivery service directly from our Licensed , legally
            operating partner pharmacies , E-lab services where sick students specimen is
            picked from school to our Legally registered , Licensed laboratory together with
            offering certain other related products, services, which may include health &
            wellness newsletters, tracking the data from remote monitoring devices of such
            chronic conditions as diabetes or hypertension (collectively, the “Services”).
            As used in these Terms and Conditions, references to “ Eli ” means and includes chil
            femtech center , its parent, subsidiaries and affiliated entities. As used in these
            Terms and Conditions “you” or “your” means you, your dependent(s), if any, and
            any other person accessing your Eli account.
            These Terms and Conditions apply to your use of the Site and, to the extent
            referenced, to your registration for, subscription to, and use of Eli Services.
            CHIL FEMTECH CENTER ARRANGES FOR, AND FACILITATES,THE PROVISION OF
            MEDICAL CARE; HOWEVER, CHIL FEMTECH CENTER INC . DOES NOT PROVIDE
            MEDICAL CARE.

        </p>

            <p class="animate__animated animate__fadeInUp">
                General Complaint Procedure.
                Complaints of any nature may be filed with Chil femtech center Inc. 8 The Green ,
                st R , Dover , DE 19901 Complaints will be acknowledged in writing within 5 business
                days and will be resolved in writing to you within 45 calendar days.
                Should you remain dissatisfied with the results from your complaint with you may
                contact the Chief complaint office at info@chilailabgroup.com
                Termination and Cancellation.
                You may terminate this at any time by logging in to www.eli-telehealth.com and
                submitting a cancellation request and your account will be deactivated after 15
                days upon the request .
                Governing Law and Arbitration for Montana and Oklahoma Residents.
                Your membership is governed and controlled by the laws of the United States of
                America Delaware . Any dispute arising from or related to Your membership shall
                be resolved by a voluntary private arbitration conducted in accordance with the
                Rules of the American Arbitration Association in state of Delaware . This provision
                shall survive the termination of Your membership and shall be subject to the
                Federal Arbitration Act.
            </p>
           
            

            <p class="animate__animated animate__fadeInUp">
                Intellectual Property
                Chil femtech center inc hereby grants you a limited, revocable, non-transferable
                and non-exclusive license limited solely to viewing or downloading a single copy of
                the material on the Site.
                With the exception of your Electronic Medical Records, Chil Femtech Center
                retains all right, title and interest in, and to Eli , the Services and any Information,
                products, documentation, software or other materials on the Site.
                Chil Femtech Center retains all right, title and interest in, any patent, copyright,
                trade secret, trademark, service mark or other intellectual property or proprietary
                right in any of the foregoing, except for Information on the Site licensed by Chil
                femtech center , and in that case, the license provider retains all right, title and
                interest therein.
                By accepting these terms and conditions, You agree not to reproduce, retransmit,
                distribute, disseminate, sell, publish, broadcast, or circulate information from Eli to
                anyone.
                Use, reproduction, copying, or redistribution of Eli's trademarks, service marks and
                logos is strictly prohibited without the prior written permission of Chil femtech
                center inc .
                The immediately foregoing also applies to any third party trademarks, service
                marks and logos posted on the Site. Nothing contained on the Site should be
                construed as granting, by implication, estoppel, waiver or otherwise, any license or
                right to use any trademarks, service marks or logos displayed on the Site without
                the written grant thereof by Chil femtech center or the third party owner of such
                trademarks, service marks and logos. The Site may contain other proprietary
                notices and copyright information, the terms of which you must and agree to
                follow.
            </p>
           

            <p class="animate__animated animate__fadeInUp">
                Eligibility to Register on the Site, Subscribe to the Services and Use this Site and/or
                the Services.
                You represent that you are of legal age and you agree to the terms and
                conditions set forth in these Terms and Conditions, OR you are at least 13 years of
                age and have the permission of your parent(s)' or legal guardian(s)' permission to
                access and use this Site, to register on the Site, to enroll for the Services of this site,
                and/or to use the Services offered via this site. Some Services, including, without
                limitation, access to Eli’s Doctor’s consultation, are not intended to be used by,
                and are not directed to, anyone less than 18 years of age.
                If you register for, enroll for, purchase and/or use Eli or services, you represent you
                are at least 18 years of age. You represent that if you are acting on behalf of an
                entity( school , Pharmacy , laboratory ), you have the authority to bind such
                entity.
            </p>
        
            

            <p class="animate__animated animate__fadeInUp">  To register on the Eli’s Site, to subscribe to Eli tor Services and to use the Eli’s Site
                and Eli’s Services, you agree: (i) to comply with these Terms and Conditions, (ii)
                acknowledge the Privacy Policy of Chil femtech center as posted on the Our
                website, (iii) to fully, accurately and truthfully complete the registration profile,
                using valid information that includes, but is not limited to, your name, mailing
                address, phone number and email address (“Personal/entity Contact
                Information”, PID), (iv) to fully and accurately complete any and all other items
                requested or required when you use the Site or the Services, (v) to set your Internet
                browser to accept “cookies” from the Site, and (vi) that by registering on the Site,
                subscribing to the Services and/or using the Site or the Services you are agreeing
                to opt-in to the receipt of communications, such as newsletters and offers, by mail
                or email from Chil Femtech center .</p>
          

            
               
    
                <p class="animate__animated animate__fadeInUp">
                    E. Your Account.
                    You are solely responsible for maintaining the confidentiality of your password and
                    for all activities that occur under your password. You agree to prohibit anyone else
                    from using your password and to immediately notify Chil femtech in writing of any
                    unauthorized use of your password or other security concerns of which you
                    become aware.
                </p>
               
                
    
                <p class="animate__animated animate__fadeInUp">
                Electronic Medical Record
                Eli creates an Electronic Medical Record (“Electronic Medical Record”)
                specifically for you to store and access your particular school health information
                online, including health conditions, allergies and medications, as well as for
                providing a licensed physician who uses Eli to facilitate the conduct of a
                consultation with you in accordance with his or her obligations under applicable
                state and federal law with regard to creating and maintaining your medical
                record(s). Information provided to a physician as part of a smartphone, or
                telephony-based medical consultation or secure email or web-based medical
                consultation becomes part of the Eli Electronic Medical Record established
                specifically for you, and is subject to applicable in country law. You agree to
                provide accurate and complete information for your Electronic Medical Record,
                to periodically review such information, and to update information that you
                provide as needed, which might include allergies, medical conditions, by
                example.
                Right to Change Terms and Conditions
                CHIL FEMTECH CENTER can, at any time and from time to time, in its sole discretion,
                change these Terms and Conditions. Any changes to these Terms and Conditions
                will be effective immediately upon posting of the changed Terms and Conditions
                on the Site. You agree to review these Terms and Conditions periodically, and your
                use of the Site following any such change constitutes your agreement to follow
                and be bound by such changed Terms and Conditions.
                Disclaimers
                A. YOU ACKNOWLEDGE THAT YOUR USE OR MISUSE OF THE SITE AND THE SERVICES IS
                AT YOUR SOLE RISK, AND THAT YOU ASSUME FULL RESPONSIBILITY FOR ALL RISK
                ASSOCIATED THEREWITH. ALL INFORMATION, PRODUCTS, AND SERVICES CONTAINED
                ON OR PROVIDED THROUGH THIS SITE ARE PROVIDED "AS IS" WITHOUT ANY
                WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE
                UNDER APPLICABLE LAW CHIL FEMTECH CENTER AND ITS MEMBERS, SHAREHOLDERS,
                DIRECTORS, MANAGERS, ENPLOYEES, OFFICERS, OFFICERS, CONTRACTORS,
                AGENTS, AND REPRESENTATIVES (COLLECTIVELY, "AFFILIATES") HEREBY DISCLAIM ALL
                REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR
                OTHERWISE, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT AND FREEDOM
                FROM COMPUTER VIRUS STRAINS. WITHOUT LIMITING THE FOREGOING, CHIL
                FEMTECH MAKES NO WARRANTY AS TO THE RELIABILITY, ACCURACY, TIMELINESS,
                USEFULNESS, ADEQUACY, COMPLETENESS OR SUITABILITY OF THE INFORMATION,
                PRODUCTS, AND SERVICES PROVIDED HEREUNDER. WITHOUT LIMITATION OF THE
                FOREGOING, CHIL FEMTECH SPECIFICALLY disclaims all liability for the ACTS OR
                OMISSIONS OF ANY PARTICIPATING PHYSICIANS PROVIDING MEDICAL CARE TO
                SUBSCRIBERS.
            </p>
         
            

            <p class="animate__animated animate__fadeInUp">

                You acknowledge and agree that we are not responsible for (i) any printing,
            typographical or technological errors regardless of the matter, media, material or
            form thereof, (ii) electronic, human, equipment programming or other error,
            omission, interruption, defect or delay which may occur regardless of the matter,
            media, material or form thereof, (iii) incorrect, inaccurate, late, lost, stolen, illegible,
            incomplete or misdirected matters or information regardless of the matter, media,
            information or form thereof, (iv) technical failures of any kind, (v) inadvertent loss of
            information; and/or (vi) unauthorized human intervention in any part, material or
            process or otherwise.
            CHIL FEMTECH CENTER MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT: THE
            SATISFACTION OF GOVERNMENT REGULATIONS REQUIRING DISCLOSURE OF
            INFORMATION ON PRESCRIPTION MEDICATIONS; OR ANY TREATMENT, ACTION OR
            APPLICATION OR PREPARATION OF MEDICATION BASED ON INFORMATION OFFERED
            OR PROVIDED THROUGH THE SERVICES.
            Chil femtech center does not endorse the promotions, products or services of any
            third parties. Chil femtech center does not warrant or validate the Information of
            any third party's advertisements, promotions, communications, or other materials.
            Chil femtech center does not assume any responsibility or liability for the accuracy
            of Information contained in the Site or as stated above under “Third Party Web
            Sites.”
            </p>
            
        


      
    </div>
</ion-content>