<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="more()" text="" icon="chevron-back-outline"></ion-back-button>

            
        </ion-buttons>
        <ion-title>
            Student Prescriptions 
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <h1>Upcoming</h1>
        <ion-item  *ngIf="!orders.length" class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
            <h6>There are currently no upcoming prescriptions</h6>
        </ion-item>
        </ion-item>

     

        <ion-item *ngFor="let order of orders" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img" >
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                      
                        <span >{{order.student.name}}</span>
                        <ion-icon class="zmdi zmdi-more-vert ion-text-end end"></ion-icon>
                    </h2>
                    <h3 > Prescription order with {{order.pharmacy.name}}
                    </h3>
                    <h3 > Supervisor:  {{order.pharmacy.supervisor_name}}
                    </h3>
                </div>
            </div>


       

        </ion-item>

        <h1>{{'past' | translate}}</h1>
        <ion-item class="animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <h6>No lab history</h6>
            </ion-item>
        </ion-item>
    </ion-list>

</ion-content>