<ion-header class="bg_transparent">

 

    <div class="d-flex profile">
        <div class="img_box center_img" >
            <img *ngFor="let s of school" src="{{s.school_logo}}" class="crop_img">
        </div>
        <div class="text_box">
            <h1 *ngFor="let s of school" class="d-flex animate__animated animate__fadeInUp">
                <span ></span>{{s.school_name}}
                <!-- <ion-icon class="zmdi zmdi-more-vert end ion-text-end"></ion-icon> -->
                <ion-icon class="zmdi end ion-text-end" name="checkmark-circle-outline"></ion-icon>
            </h1>
            <!-- <h2 class="animate__animated animate__fadeInUp" (click)="lab_profile()">{{"view_profile" | translate}}</h2> -->
        </div>
    </div>

    <div class="today-task">
        <ion-row class="animate__animated animate__fadeInUp d-flex">
            <ion-col size="6">
                <div class="text">
                    <!-- <h3>0 {{"tests" | translate}}</h3>
                    <h4>{{"booked_today" | translate}}</h4> -->
                    <h3>Labaratory  <br>Tests</h3>
                    <!-- <h4>Booked Today</h4> -->
                </div>

              
                
            </ion-col>
        </ion-row>

        <img src="assets/images/vector_hospital.png" class="end animate__animated animate__fadeInUp">

    </div>
  
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <ion-item *ngFor="let lab of labs"  class="animate__animated animate__fadeInUp" (click)="lab_info(lab)">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_1.png" class="crop_img">
                </div>

              
                <div class="text_box">
                    <h2>{{lab.name}}</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>{{lab.district}}, {{lab.country}}</span>
                    </h3>
                    <h4>Test kits available</h4>
                </div>
            </div>
        </ion-item>
       
    </ion-list>
</ion-content>