<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                Thyroid Profile
                <span class="end">
                  <!-- <ion-icon class="zmdi zmdi-sort-amount-desc ion-text-start" (click)="filter()"></ion-icon> -->
                  <ion-icon class="zmdi zmdi-map ion-text-end" ></ion-icon>
              </span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>City Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>120+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>24x7 test Point</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>City Point</span>
                    </h3>
                    <h4>100+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Helocom Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Laykra Laboratory</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Way Wait Bridge</span>
                    </h3>
                    <h4>150+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Enopoly Testing Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Howard College</span>
                    </h3>
                    <h4>130+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Quid Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Kinder Garden</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>City Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>120+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>24x7 test Point</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>City Point</span>
                    </h3>
                    <h4>100+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Helocom Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Laykra Laboratory</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Way Wait Bridge</span>
                    </h3>
                    <h4>150+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Enopoly Testing Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Howard College</span>
                    </h3>
                    <h4>130+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Quid Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Kinder Garden</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>City Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>120+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>24x7 test Point</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>City Point</span>
                    </h3>
                    <h4>100+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Helocom Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Laykra Laboratory</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Way Wait Bridge</span>
                    </h3>
                    <h4>150+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Enopoly Testing Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Howard College</span>
                    </h3>
                    <h4>130+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Quid Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Kinder Garden</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>City Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>120+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>24x7 test Point</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>City Point</span>
                    </h3>
                    <h4>100+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Helocom Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Williamson Bridge</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Laykra Laboratory</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Way Wait Bridge</span>
                    </h3>
                    <h4>150+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Enopoly Testing Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Howard College</span>
                    </h3>
                    <h4>130+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="lab_info()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/lab_profile/lab_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Quid Cure Labs</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin"></ion-icon>
                        <span>Kinder Garden</span>
                    </h3>
                    <h4>80+ {{'tests_available' | translate}}</h4>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>