ion-header {
    background-color: #5B5FE6;
    padding-top: 28px;
    .profile {
        padding: 0 20px;
        .img_box {
            min-width: 52px;
            height: 52px;
            border-radius: 12px;
            margin-right: 15px;
        }
        .text_box {
            width: 100%;
            h1 {
                margin: 0;
                color: var(--white);
                font-size: 1.3rem;
                padding-bottom: 7px;
                ion-icon {
                    font-size: 1.6rem;
                    min-width: fit-content;
                    padding: 0 1px;
                }
            }
            h2 {
                margin: 0;
                color: var(--white);
                font-size: 0.93rem;
                letter-spacing: 0.3px;
                font-weight: 500;
                opacity: 0.6 !important;
            }
        }
    }
    .today-task {
        padding-left: 20px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        img {
            max-width: 235px;
            min-width: 235px;
            position: relative;
            right: -16px;
            top: 4px;
        }
        ion-row {
            align-items: flex-end;
            min-width: fit-content;
            ion-col {
                padding: 0;
                min-width: fit-content;
                position: relative;
                top: -10px;
                .text {
                    padding-bottom: 30px;
                    h3 {
                        margin: 0;
                        color: var(--white);
                        font-size: 1.3rem;
                        padding-bottom: 7px;
                    }
                    h4 {
                        margin: 0;
                        color: var(--white);
                        font-size: 0.95rem;
                        opacity: 0.6;
                        letter-spacing: 0.3px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    ion-item {
        padding: 20px 15px 20px 15px;
        background: var(--white);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        margin-bottom: 8px;
        .item_inner {
            width: 100%;
            align-items: flex-start;
            .img_box {
                min-width: 68px;
                height: 68px;
                margin-right: 15px;
                border-radius: 8px;
            }
            .text_box {
                width: 100%;
                overflow: hidden;
                h2 {
                    margin: 0;
                    font-size: 0.95rem;
                    font-weight: 600;
                    padding-bottom: 6px;
                    color: var(--text-dark);
                }
                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.8rem;
                    overflow: hidden;
                    padding-bottom: 12px;
                    ion-icon {
                        min-width: 12px;
                        padding: 0 2px;
                        font-size: 0.8rem;
                        position: relative;
                        top: -1px;
                    }
                    span {
                        font-weight: 500;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                h4 {
                    margin: 0;
                    color: var(--secondary);
                    font-size: .7rem;
                }
            }
        }
    }
}

.empty-view {
    width: 200px;
    margin: auto;
    height: 200px;
    top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    img {
        width: 100px;
        margin: auto;
    }
    span {
        display: block;
        text-align: center;
    }
    button {
        margin-top: 50px;
        span {
            display: unset !important;
        }
    }
}