//ion-header ion-toolbar ion-title {
//    position: absolute !important;
//    left: 0;
//    top: 0;
//    width: 100%;
//    text-align: center;
//    padding: 0 15px !important;
//}
.form {
    padding-top: 50px;
    ion-item {
        background: var(--input_field_bg);
        //        padding: 2px 20px;
        &.item-input {
            ion-label {
                max-width: unset !important;
                width: fit-content !important;
                min-width: fit-content;
            }
        }
        &.item-select {
            padding: 2px 13px;
            ion-label {
                display: none;
            }
        }
    }
    p {
        color: var(--text-light) !important;
        margin: 0;
        font-size: 1rem !important;
        letter-spacing: 0;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 50px;
        opacity: 0.8;
    }
    .button.btn.button-block {
        margin-top: 25px;
    }
    h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 28px;
    }
}

ion-footer {
    .form {
        padding-top: 0px !important;
    }
}