ion-header {
    ion-toolbar {
        .toolbar_inner {
            align-items: flex-start;
            position: relative;
            overflow: hidden;
            padding-top: 8px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 44px;
                background: #ecf4f7;
            }
            .user_details {
                align-items: flex-start;
                position: relative;
                z-index: 99;
                padding-top: 12px;
                overflow: hidden;
                padding-right: 15px;
                .img_box {
                    min-width: 60px;
                    height: 60px;
                    border-radius: 5px;
                    margin-right: 15px;
                }
                .text_box {
                    padding-top: 5px;
                    h2 {
                        margin: 0;
                        font-size: 0.95rem;
                        font-weight: 600;
                        padding: 0;
                        color: var(--text-dark);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding-bottom: 18px;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: 0.8rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        min-height: 30.4px;
                    }
                }
            }
        }
    }
    ion-title {
        .title_inner {
            width: 100%;
            overflow: hidden;
            padding-left: 30px;
            h2 {
                margin: 0;
                font-size: 1.1rem;
                font-weight: 400;
                overflow: hidden;
                span {
                    &.name {
                        width: calc(100% - 40px);
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                ion-icon {
                    font-size: 1.3rem;
                    min-width: 30px;
                }
            }
        }
    }
    .appointment_details {
        background: var(--white);
        h2 {
            margin: 0;
            color: var(--text-light2);
            font-size: 0.75rem;
            padding: 14px 16px;
            font-weight: 400;
            letter-spacing: 0.5px;
            span {
                min-width: 30px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}

.footer_img {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    --animate-duration: 0.4s !important;
    img {
        width: auto;
        max-width: calc(100% - 37px);
        display: block;
        margin: 0 auto;
    }
}

.chat_container {
    padding: 15px 15px;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
    .chat_box {
        width: auto !important;
        margin-bottom: 20px;
        min-width: 70%;
        align-items: flex-start;
        .chat {
            min-width: 90px;
            border-radius: 5px;
            max-width: 100%;
            h2 {
                margin: 0;
                font-size: 0.9rem;
                color: var(--text-black);
                line-height: 18px;
                padding-bottom: 8px;
            }
        }
        p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: var(--text-light2);
        }
        &.send {
            .chat {
                background: var(--white);
                padding: 9px 50px 10px 14px;
            }
        }
        &.received {
            margin-left: auto;
            margin-right: 0;
            .chat {
                background: var(--primary);
                padding: 9px 14px 10px 50px;
                margin-left: auto;
                margin-right: 0;
                h2 {
                    text-align: right;
                    color: var(--white);
                    font-weight: 400;
                }
                p {
                    text-align: right;
                    color: var(--white);
                    opacity: 0.4;
                }
            }
        }
    }
}

ion-footer {
    background: var(--white);
    box-shadow: 0 1px 38px 10px rgba(0, 0, 0, 0.1);
    --animate-duration: 0.4s !important;
    .form {
        margin: 0;
        width: 100%;
        padding: 0;
        ion-list {
            padding: 0 !important;
            ion-item {
                border: none !important;
                background: none;
                margin: 0;
                align-items: center;
                border: 0 !important;
                padding: 0px 17px !important;
                --min-height: unset !important;
                font-weight: 500 !important;
                ion-textarea {
                    font-size: 0.95rem !important;
                    --placeholder-color: var(--text-light2) !important;
                    padding: 7px 0 !important;
                    overflow: hidden;
                    overflow-y: auto;
                    margin: 0;
                    max-height: 100px;
                }
            }
            .send_btn {
                padding: 0 17px;
                min-width: 30px;
                position: relative;
                top: 3px;
                ion-icon {
                    color: var(--primary);
                    font-size: 1.5rem;
                }
            }
        }
    }
}