<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'offers' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Flat 50% off <br> on first Medicine order</h3>
                <h4 class="end animate__animated animate__zoomIn">Get50</h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <h3>Get free delivery on order <br> adove $100</h3>
                <h4 class="end animate__animated animate__zoomIn">AB100</h4>
            </div>
        </ion-item>

    </ion-list>
</ion-content>